$prefix: ze;

// 基础颜色值
$default: #666;
$info: rgba(25, 181, 254, 1);
$primary: rgba(25, 181, 254, 1);
$success: rgba(25, 181, 254, 1);
$warning: rgba(25, 181, 254, 1);
$error: rgba(25, 181, 254, 1);

$default-hover: #19B5FE;
$info-hover: rgba(25, 181, 254, .7);
$primary-hover: rgba(25, 181, 254, .7);
$success-hover: rgba(25, 181, 254, .7);
$warning-hover: rgba(25, 181, 254, .7);
$error-hover: rgba(25, 181, 254, .7);

//透明度
$disabled: 0.5;

// 字体大小

$text: 14px;

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:before,
*:after {
    box-sizing: border-box;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input::-ms-clear, input::-ms-reveal {
    display: none;
}

a {
    background: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;

    &:active,
    &:hover {
        outline: 0;
        text-decoration: none;
    }

    &[disabled] {
        color: #ccc;
        pointer-events: none;
    }
}