@import './base.scss';

.ze-def-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ze-noselect {
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none;  
    -moz-user-select: none;   
    -ms-user-select: none;   
    user-select: none; 
}